{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Asignar Rol a Usuario</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">{{ form.user_id.label }} {{ form.user_id(class="form-select", required=True) }}</div>
        <div class="form-group">{{ form.role_id.label }} {{ form.role_id(class="form-select", required=True) }}</div>
        <div class="form-actions">{{ form.submit(class="btn btn-primary") }} <a href="{{ url_for('list_users') }}"
                class="btn btn-secondary">Cancelar</a></div>
    </form>
</div>
{% endblock %}