{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Registrar Peso de Romana para Lote {{ '%03d' % lot.lot_number }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.loaded_truck_weight.label }} {{ form.loaded_truck_weight(class="form-control", type="number",
            step="0.01", min="0", required=True) }}
        </div>
        <div class="form-group">
            {{ form.empty_truck_weight.label }} {{ form.empty_truck_weight(class="form-control", type="number",
            step="0.01", min="0", required=True) }}
        </div>
        <div class="form-actions">
            {{ form.submit(class="btn btn-primary") }} <a href="{{ url_for('list_lots') }}"
                class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}