{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
        <h2>Control de Calidad de Muestra</h2>
        <a href="{{ url_for('view_sample_qc_report_pdf', report_id=report.id) }}" class="btn btn-outline-secondary btn-sm mt-2">
            Descargar PDF
        </a>
    </div>
    <br>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Productor</th>
                <th scope="col">Muestra traida por</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ report.grower }}</td>
                <td>{{ report.brought_by }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Información del Análisis</h4>
    </div>
    <br>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Analista</th>
                <th scope="col">Fecha</th>
                <th scope="col" class="text-end">Unidades</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ report.analyst }}</td>
                <td>{{ report.date.strftime('%d-%m-%Y') }}</td>
                <td class="text-end">{{ report.units }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Detalle de Cáscara</h4>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Calibre</th>
                            <th scope="col" class="text-end">Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>30/-</td>
                            <td class="text-end">{{ report.lessthan30 }}</td>
                        </tr>
                        <tr>
                            <td>30/32</td>
                            <td class="text-end">{{ report.between3032 }}</td>
                        </tr>
                        <tr>
                            <td>32/34</td>
                            <td class="text-end">{{ report.between3234 }}</td>
                        </tr>
                        <tr>
                            <td>34/36</td>
                            <td class="text-end">{{ report.between3436 }}</td>
                        </tr>
                        <tr>
                            <td>36/+</td>
                            <td class="text-end">{{ report.morethan36 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Defecto Externo</th>
                            <th scope="col" class="text-end">Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cáscara Rota</td>
                            <td class="text-end">{{ report.broken_walnut }}</td>
                        </tr>
                        <tr>
                            <td>Casco Abierto</td>
                            <td class="text-end">{{ report.split_walnut }}</td>
                        </tr>
                        <tr>
                            <td>Mancha Leve</td>
                            <td class="text-end">{{ report.light_stain }}</td>
                        </tr>
                        <tr>
                            <td>Mancha Grave</td>
                            <td class="text-end">{{ report.serious_stain }}</td>
                        </tr>
                        <tr>
                            <td>Pelón Adherido</td>
                            <td class="text-end">{{ report.adhered_hull }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="container text-center">
        <h4>Detalle de Pulpa</h4>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col" class="text-end">Peso (grs.)</th>
                            <th scope="col" class="text-end">Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Peso con Cáscara</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.inshell_weight).replace(",", ".") }}</td>
                            <td class="text-end">100%</td>
                        </tr>
                        <tr>
                            <td>Peso de Pulpa</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.shelled_weight).replace(",", ".") }}</td>
                            <td class="text-end">{{ report.yieldpercentage | round(2) }}%</td>
                        </tr>
                        <tr>
                            <td>Extra Light</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.extra_light).replace(",", ".") }}</td>
                            <td class="text-end">{{ (report.extra_light / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <td>Light</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.light).replace(",", ".") }}</td>
                            <td class="text-end">{{ (report.light / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <td>Light Amber</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.light_amber).replace(",", ".") }}</td>
                            <td class="text-end">{{ (report.light_amber / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <td>Amber</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.amber).replace(",", ".") }}</td>
                            <td class="text-end">{{ (report.amber / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                        <tr>
                            <td>Amarilla</td>
                            <td class="text-end">{{ "{:,.0f}".format(report.yellow).replace(",", ".") }}</td>
                            <td class="text-end">{{ (report.yellow / report.shelled_weight * 100) | round(2) if report.shelled_weight != 0 else '0.00' }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Defecto Interno</th>
                            <th scope="col" class="text-end">Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Reseca</td>
                            <td class="text-end">{{ report.shrivel }}</td>
                        </tr>
                        <tr>
                            <td>Vana</td>
                            <td class="text-end">{{ report.empty }}</td>
                        </tr>
                        <tr>
                            <td>Daño de Insecto</td>
                            <td class="text-end">{{ report.insect_damage }}</td>
                        </tr>
                        <tr>
                            <td>Hongo Inactivo</td>
                            <td class="text-end">{{ report.inactive_fungus }}</td>
                        </tr>
                        <tr>
                            <td>Hongo Activo</td>
                            <td class="text-end">{{ report.active_fungus }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>

    {% if report.inshell_image_path or report.shelled_image_path %}
    <div class="container text-center">
        <div class="row justify-content-center g-3">
            {% if report.inshell_image_path %}
            <div class="col-12 col-md-6">
                <img src="{{ url_for('static', filename=report.inshell_image_path.replace('\\', '/')) }}" alt="Inshell Image" class="img-fluid">
            </div>
            {% endif %}
            {% if report.shelled_image_path %}
            <div class="col-12 col-md-6">
                <img src="{{ url_for('static', filename=report.shelled_image_path.replace('\\', '/')) }}" alt="Shelled Image" class="img-fluid">
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endblock %}
